aerc/accounts.conf
pulse
*/**/__pycache__
yay
systemd
pavucontrol.ini
qutebrowser/bookmarks
qutebrowser/catppuccin
qutebrowser/quickmarks
alacritty/themes
nuclear
Code\ -\ OSS
dconf
spotify-tui
Code
procps
syncthing
cef_user_data
discord
Electron
GIMP
homebank
menus
monero-project
libreoffice
obsidian
whatscli
Renoise
xmonad