aerc/accounts.conf
pulse
*/**/__pycache__
yay
systemd
pavucontrol.ini
qutebrowser/bookmarks
qutebrowser/catppuccin
qutebrowser/quickmarks
alacritty/themes
nuclear
Code\ -\ OSS
dconf
spotify-tui
Code
procps
